@{
  Layout = "_Layout";
}

@model Yelp.Models.Review

<h4>Add a new review</h4>
<hr>

@using (Html.BeginForm())
{
    <p>Restaurant you're reviewing: </p>
    @Html.DropDownList("RestaurantId")
    <br>
    <br>
    @Html.TextAreaFor(model => model.Description, new {cols = "55", rows = "10"})
    <br>  

    <input type="submit" value="Add review" class="btn btn-default" style="width:40.5%;"/>
}
<br>
@Html.ActionLink("Show all reviews", "Index")