@{
  Layout = "_Layout";
}
<h1 class="jumbotron">Welcome to the Original Yelp!<br><span style="font-size:small">not to be confused with that other Yelp.</span></h1>
<button>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</button>
<button>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</button>
<button>@Html.ActionLink("See all reviews", "Index", "Reviews")</button>
<button>@Html.ActionLink("Search for Restaurants", "Search", "Restaurants")</button>
