@{
  Layout = "_Layout";
}
<h1 class="jumbotron">Welcome to the Original Yelp!<br><span style="font-size:small">not to be confused with that other Yelp.</span></h1>
<p>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</p>
<p>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</p>